.form__input {
    border: 1px solid;
    padding: 10px;
    width: 100%;
    max-width: 350px;
    color: rgb(130, 137, 143);
}

.form__button {
    padding: 10px;
    width: 100%;
    max-width: 150px;
    color: rgb(135, 145, 153);
}